
form.navbar-form.navbar-right(ng-hide="authenticated", ng-controller="mvNavBarLoginCtrl")
  .form-group
    input.form-control(placeholder="Email", ng-model="username")
  .form-group
    input.form-control(type="password", placeholder="Password", ng-model="password")
  button.btn.btn-primary(ng-click="signin(username, password)") Sign in
