.container
  .well
    form.form-horizontal(name="signupForm")
      fieldset
        legend User Profile
        .form-group
          label.col-md-2.control-label(for="email") Email
          .col-md-10
            input.form-control(name="email", type="email", placeholder="Email", ng-model="email", required)
        .form-group
          label.col-md-2.control-label(for="fname") First Name
          .col-md-10
            input.form-control(name="fname",placeholder="First Name", ng-model="fname", required)
        .form-group
          label.col-md-2.control-label(for="lname") Last Name
          .col-md-10
            input.form-control(name="lname",placeholder="Last Name", ng-model="lname", required)
        .form-group
          label.col-md-2.control-label(for="password") Password
          .col-md-10
            input.form-control(type="password",name="password",placeholder="Password", ng-model="password")
        .form-group
          .col-md-10.col-md-offset-2
            .pull-right
              button.btn.btn-primary(ng-click="update()", ng-enabled="signupForm.$invalid") Submit
              | &nbsp;
              a.btn.btn-default(href="/") Cancel

