.container
  .jumbotron
    h1 MultiVision
    p Welcome to MultiVision! The most comprehensive and complete collection of extreme tech training videos on the web.

  .row
    .col-md-6
      div(ng-include="'/partials/main/featured-courses'")
    .col-md-6
      div(ng-include="'/partials/main/new-courses'")